# DATA_STRUCTURES

In [84]:
# Data structures are a way of organizing and storing data so that they can be accessed and worked with efficiently.
# They define the relationship between the data, and the operations that can be performed on the data.
# Python offers multiple built-in data structures, so that the programmer not need to implement these scratch.
# Each of the data structures is unique in its own way. Data structures are “containers” that organize and group data 
# according to type. The data structures differ based on mutability and order.
# These include:
#               List
#               Tuple
#               Dictionary
#               Set

# Lists

In [85]:
#Lists are used to store multiple items in a single variable. Lists are created using square brackets.
this_list = ["banana","apple","mango"]
this_list
print("list: ",this_list)

list:  ['banana', 'apple', 'mango']

In [86]:
#list creation
my_list = [1,2,3]
my_list

[1, 2, 3]

In [87]:
#list append: it is a "pre-defined method used to add a single item" to certain collection types.
my_list.append('d')
my_list

[1, 2, 3, 'd']

In [88]:
#list indexing: indexing refers to the process of accessing a specific element in a sequence, such as a string or list,
#               using its position or index number. Indexing in Python starts at 0, which means that the first element 
#               in a sequence has an index of 0, the second element has an index of 1, and so on.
my_list[3]

'd'

In [89]:
#list slicing
name = "abcdefghijkl"
name

'abcdefghijkl'

In [90]:
a = name[5:10]
a

'fghij'

In [91]:
b = name[:10]
b

'abcdefghij'

In [92]:
c = name[5:]
c

'fghijkl'

In [93]:
d = name[:]
d

'abcdefghijkl'

In [94]:
e = name[-8:-3]
e

'efghi'

In [95]:
f = name[5::2]
f

'fhjl'

In [96]:
g = name[::-1]
g

'lkjihgfedcba'

In [97]:
x = name[0:].upper()
x

'ABCDEFGHIJKL'

In [98]:
# change/insert a new item in a list on a particular index position
my_list = [1,213,321]
my_list[0] = 'NEW'
my_list

['NEW', 213, 321]

In [99]:
#                        another_method
my_list = [1, 2, 3, 4]
my_list.insert(1,[1, 2, 3, 4])
my_list

[1, [1, 2, 3, 4], 2, 3, 4]

In [100]:
new_list = ["ali","umair","kbc"]
new_list.insert(0,"uff")
new_list
k = new_list
k

['uff', 'ali', 'umair', 'kbc']

In [101]:
k.insert(4,"hello")
k

['uff', 'ali', 'umair', 'kbc', 'hello']

In [102]:
#nested list
nest = [1,2,3,[4,5,['target']]]

In [103]:
nest[3][2][0][3]

'g'

In [104]:
nest[3][2]

['target']

In [105]:
#list of list
uk = [[[5],[3],[15]],[3,4,5],[6,7,8]]
uk

[[[5], [3], [15]], [3, 4, 5], [6, 7, 8]]

In [106]:
#size of a list
len(uk)

3

In [107]:
#pop an element: remove the last element from the list by-default
a=uk.pop()
uk

[[[5], [3], [15]], [3, 4, 5]]

In [108]:
#count a particular item in a list
x_list = ['abc',23,23,23]
x_list.count(23)

3

In [109]:
#merging two lists
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]
list_1 + list_2

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [110]:
list_1 = [[1],[2,34,99],3,4,5]
len(list_1)

5

# Tuples

In [111]:
#Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that 
#tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that
#should not be modified, such as database records

In [112]:
#tuple appearance
t = (1,2,3)

In [113]:
t[0]

1

In [114]:
#tuple slicing
t[1:]

(2, 3)

In [115]:
#tuples immutable objects that can't be changed
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [116]:
#tuple merging
t = (1,2,3)
u = (3,5,6)
v = t+u
print(v)

(1, 2, 3, 3, 5, 6)

In [117]:
v.index(5)      # 5 value is on 4th index mean it's on 4th number.. as index starts from 0,1 and so on...

4

In [118]:
len(v)

6

# Dictionaries

In [119]:
d = {'key_1':'item_1', 'key_2':'item_2', 'key_3':'item_3'}
d

{'key_1': 'item_1', 'key_2': 'item_2', 'key_3': 'item_3'}

In [120]:
#item accessing
d['key_1']

'item_1'

In [121]:
# item replacing
d['key_1'] = 'replaced_by_item_1'
d

{'key_1': 'replaced_by_item_1', 'key_2': 'item_2', 'key_3': 'item_3'}

In [122]:
# dictionary nested with other dictionary
d = {'k1':{'innerkey':[1,2,3]}}
print(d['k1'])
print(d['k1']['innerkey'])
                            # items are always catched by keys...
                            # for nested indexing 1st you write the outer_key then inner_key to get the inner_most value. 
a = {'name':{'umair':'abc'}}
print(a['name'])
print(a['name']['umair'])

{'innerkey': [1, 2, 3]}
[1, 2, 3]
{'umair': 'abc'}
abc

In [123]:
d['k1']['innerkey'][1]

2

In [124]:
pets = {'dog':5 , 'cat':4}
# another_example
cars = {'abc':10, 'xyz':15}

In [125]:
print(pets.keys())
print(cars.keys())

dict_keys(['dog', 'cat'])
dict_keys(['abc', 'xyz'])

In [126]:
print(pets.items())
cars.items()

dict_items([('dog', 5), ('cat', 4)])

dict_items([('abc', 10), ('xyz', 15)])

In [127]:
print(pets.values())
cars.values()

dict_values([5, 4])

dict_values([10, 15])

In [128]:
#deleting all key-values pairs in a dictionary
pets.clear()
print(pets)
cars.clear()
print(cars)

{}
{}

In [129]:
#check if a certain key or value is in the dictionary
pets = {'dog':5 , 'cat':4}
cars = {'abc':10, 'xyz':15}

print("cats" in pets.keys())
"abc"  in cars.keys()

False

True

In [130]:
dic_={'key1':32 ,'key1':3211 ,'key1':31232 ,'key1':321}
print(dic_)     # if keys has the same name then it will print the last key_or_its_value

{'key1': 321}

# Sets

In [131]:
st = {1,2,3,2.2}

In [132]:
#sets the collection of unique items
{1.4,2,2.2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 1.4, 2, 2.2, 3}

In [133]:
st.add(9)
st

{1, 2, 2.2, 3, 9}

In [134]:
#set allow intersection, difference and union among other operations
s1 = {1,2,3}
s2 = {3,4,5}

intersection = s1.intersection(s2)
print("intersection is: ",intersection)

union = s1.union(s2)
print("union is: ", union)

difference = s1.difference(s2)
print("difference is: ", difference)

intersection is:  {3}
union is:  {1, 2, 3, 4, 5}
difference is:  {1, 2}

In [135]:
# Ashort hand for
a = {1,3,4,6,'g'}
b = {2,3,4,5}

print("intersection is: ", a & b)
print("union is: ", a|b)

intersection is:  {3, 4}
union is:  {1, 2, 3, 4, 5, 6, 'g'}