# Numbers and Operators

In [14]:
 1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
# power/exponent
2 ** 4

16

In [5]:
# modulus
4%2

0

In [6]:
5 % 2

1

In [9]:
# precedence
( 2 +3 ) * ( 5+ 5 )

50

In [10]:
2 + 3 * 5 + 5

22

# Booleans

In [11]:
True

True

In [12]:
False

False

# Variable Assignment

In [15]:
# cannot start with a number or any other special character except underscore.
name_of_var = 2

In [17]:
x = 2
y = 3

In [18]:
z = x + y

In [19]:
z

5

# Printing

In [22]:
x = 5
print(x)

5

# Strings

In [23]:
print('single_quotes')

single_quotes

In [25]:
print("double_quotes")

double_quotes

In [30]:
print("wrap lot's of single quotes in double quotes")
#see the difference
"wrap lot's of single quotes in double quotes"

wrap lot's of single quotes in double quotes

"wrap lot's of single quotes in double quotes"

In [32]:
'wrap lot's of single quotes in double quotes'

#as you see you will face error

SyntaxError: unterminated string literal (detected at line 1) (2015893982.py, line 1)

In [35]:
#                                    .format()
name = "umair"
number = 90078601
x = "my name is {} and my number is {}".format(name,number)
x

'my name is umair and my number is 90078601'

In [36]:
#                    find the data type of any variable = type(varialbe_name)
type(x)

str

In [37]:
s = 'hello g'

In [38]:
#                    capitalize the first word in the string = .capitalize()
s.capitalize()

'Hello g'

In [40]:
#                       every word in upper_case = .upper()
s.upper()

'HELLO G'

In [41]:
#                       every word in lower_case = .lower()
x = 'Hafiz Muhammad Umair Habib'
x.lower()

'hafiz muhammad umair habib'

In [42]:
#                       count the occurrance of a letter = .count()
x.count('a')

5

In [43]:
#                       check the string is alpha numeric or not = .isalnum()
x.isalnum()

False

In [44]:
#                       checking the string is numeric or not = .count()
x.isnumeric()

False

In [46]:
#                                string multiline
s = """hello
ji
kesi
ho ?"""
print(s)

hello
ji
kesi
ho ?

In [47]:
#                       breaking a string in code only
multiline = "assalam_0_alaikum !\
kese hain ap ?"
multiline

'assalam_0_alaikum !kese hain ap ?'

# Slicing

In [48]:
#     987654321 (IN NEGATIVE CASE)
#    ABCD EFGHI
#    0123456789 (IN POSITIVE CASE)

In [50]:
name = "umair habib"#(counting for positive is like 0,1,2,3,4,5,6,7,8,9,10)
                    #(in negative case it's like -1,-2,-3-4-5-6-7-8-9-10,11)
print(name[0:5])
print(name[6:])

umair
habib

In [54]:
fruit = "mango"
print(fruit[0:1])
print(fruit[0:-3]) # --- fruit[0:-3] = fruit[0:len(fruit)-3] = fruit[0:5-3] = fruit[0:2] in this way we get ma
print(fruit[0::2])

m
ma
mno

In [57]:
s = 'hello'
print(s[0])
print(s[0:])

h
hello

In [60]:
s[1:3]

'el'

In [61]:
s[:]

'hello'

In [62]:
s[:-1]

'hell'

In [63]:
s[-3:] # ---s[-3:] = s[len(s)-3:] = s[5-3:] = s[2:]

'llo'

In [64]:
#                                 split
s='hello'
s.split()

['hello']

In [68]:
#                                 split
x = "Hafiz Muhammad Umair Habib"
y = "Hafiz_Muhammad_Umair_Habib"
print(x.split())
print(y.split())

['Hafiz', 'Muhammad', 'Umair', 'Habib']
['Hafiz_Muhammad_Umair_Habib']

In [70]:
#                           partition on word or letter
x.partition("Umair")

('Hafiz Muhammad ', 'Umair', ' Habib')

In [71]:
#                                 f string
course_name = "python programming"
duration = 7
s = f"this course is on {course_name} and it's duration is {duration} days"
        # you can also use: s = "this course is on {} and its duration is {}".format(course_name,duration)
s

"this course is on python programming and it's duration is 7 days"

In [76]:
#                                            is in / not in
# is in
print("course" in s)
# not in
print("k" in s)

True
False

# Comparison Operators

In [77]:
1 > 2

False

In [78]:
1 < 2

True

In [79]:
1 >= 1

True

In [80]:
1 <= 4

True

In [81]:
1 == 1

True

In [82]:
'hi' == 'bye'

False

In [83]:
'hi' != 'bye'

True

# Logical Operators

In [84]:
#                                and
( 1 > 2 ) and ( 2 < 3 )

False

In [85]:
#                                or
( 1 > 2 ) or ( 2 < 3 )

True

In [86]:
# or
( 1 == 2 ) or ( 2 == 3 ) or ( 4 == 4 )

True

# User Input

In [87]:
name = input("enter ur name")
print("name: ",name)

age = input("enter ur age")
print("age: ",age)
age = int(age)
print(type(age))

enter ur nameMuhammad Umair Habib
name:  Muhammad Umair Habib
enter ur age20
age:  20
<class 'int'>

# Type Casting

In [88]:
type_1 = "1"
type_2 = 2
print(type_1 + type_2)

TypeError: can only concatenate str (not "int") to str

In [89]:
type_1 = "1"
type_2 = 2
print(int(type_1) + type_2)

3

In [90]:
type_1 = "1"
type_2 = 2
print(type_1 + str(type_2))

12